langgraph>=1.2.0
langchain-core
langchain-text-splitters
langchain-community
pypdf
langchain-huggingface
sentence-transformers
pytest
pytest-asyncio
pydantic
python-dotenv
nest-asyncio
grandalf
aiosqlite
langchain-groq
langchain
langchain-tavily